
body {
  margin: 0;
  overflow: hidden;
}

.top-header {
  background: #007bff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  .fix-search & {
    background: #007bff;
  }
}

.search {
  position: absolute;
  top: 15px;
  left: 400px;
  overflow: hidden;
  .fix-search & {
    position: fixed;
    overflow: hidden;
    top: 10px;
    input {
      width: 100%;
    }
  }
}

main {
  padding: 80px;
  display: flex;
  justify-content: space-between;
}
